/* En tu archivo CSS global */
.notify-modal-mobile {
  position: relative;
}

@media (max-width: 767px) {
  .notify-modal-mobile {
    right: 40px !important;
    margin-right: -40px !important;
    padding-right: 40px !important;
  }
}